<!-- app/views/schedules/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Index Page</title>
  <!-- FullCalendar CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
  <!-- Other CSS and JavaScript files -->
</head>
<body>
  <div id="calendar"></div>
  <!-- FullCalendar JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  <!-- Other JavaScript files -->
</body>
</html>