<!DOCTYPE html>
<html>
<head>
  <title>Client List</title>
</head>
<body>
  <h1>顧客一覧</h1>
  <div>
    <% @clients.each do |client| %>
      <div>
        <%= link_to "#{client.client_lastname} #{client.client_firstname}", client_path(client.id) %>
      </div>
    <% end %>
  </div>
  <p><%= link_to "顧客を追加する", new_client_path %></p>
</body>
</html>