<!DOCTYPE html>
<html>
  <head>
    <title>トップページ</title>
    <%= stylesheet_link_tag "home" %>
  </head>
  <body>
    <h1 class="welcome-title">ようこそ！</h1>
    <div class="clients_all">
      <%= link_to '顧客一覧ページへ', clients_path, class: "button" %>
    </div>
</html>