/* ボタンを中央に配置するための親コンテナ */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 60px;
  text-align: center;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  font-size: 37px;
  line-height: 280px;
  background-color: rgba(112, 200, 250, 0.7);
  color: #ffffff;
  width: 300px;
  height: 300px;
  border-radius: 10%;
  text-decoration: none;
  margin: 90px 240px;
}

